.about-wrapper {
	height: 100%;
	.animated-slides {
		height: 100%;
		width: 100%;
		position: absolute;
		&>div {
			position: absolute;
			width: 100%;
		}
		.slide-animation-enter {
			margin-left: 100%;
		}

		.slide-animation-enter.slide-animation-enter-active {
			margin-left: 0;
			transition: margin-left 700ms ease;
		}

		.slide-animation-leave {
			margin-left: 0;
		}

		.slide-animation-leave.slide-animation-leave-active {
			margin-left: -100%;
			transition: margin-left 700ms ease;
		}
	}
}