.about-wrapper {
	height: 100%;
	.animated-slides {
		height: 100%;
		width: 100%;
		position: absolute;
		&>div {
			position: absolute;
			width: 100%;
		}
		.slide-animation-next-enter {
			margin-left: 100%;
		}

		.slide-animation-next-enter.slide-animation-next-enter-active {
			margin-left: 0;
			transition: margin-left 700ms ease;
		}

		.slide-animation-next-leave {
			margin-left: 0;
		}

		.slide-animation-next-leave.slide-animation-next-leave-active {
			margin-left: -100%;
			transition: margin-left 700ms ease;
		}
		
		.slide-animation-prev-enter {
			margin-left: -100%;
		}

		.slide-animation-prev-enter.slide-animation-prev-enter-active {
			margin-left: 0;
			transition: margin-left 700ms ease;
		}

		.slide-animation-prev-leave {
			margin-left: 0;
		}

		.slide-animation-prev-leave.slide-animation-prev-leave-active {
			margin-left: 100%;
			transition: margin-left 700ms ease;
		}
	}
}