@import 'reset';

/*Actual style starts here*/
#application-root {
	height: 100%;
	#page-wrap {
		height: 100%;
		#main-wrap {
			min-height: 100%;
			margin-bottom: -142px; //Needs to be -{height} as #footer
			&:after {
				content: "";
				display: block;
			}
		}
		#footer {
			height: 142px;  //Needs to be the same value
		}

	}
}
